
#table-box{
  width: 100%;
}
.cal-main{
  width: 100%!important;
}

td{
  height: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-collapse: collapse;
}

table{
  border-collapse: collapse;
  color: var(--color-font);
}

.cal-title{
  width: 100%;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color:var(--color-font);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.cal-title th{
  padding: 0 16px;
}
.cal-title th span:last-child  {
  float: right;
  font-weight: 500;
  font-size: 16px;
  padding-top: 2px;
}
.cal-title th span:last-child span  {
  color:  var(--color-primary);
  font-weight: 800;
}

td.cal-empty{
  background-color: transparent;
  /* border: none; */
  cursor: default;
}
td.cal-day{
  position: relative;
}
td.cal-day:hover {
  background-color: var(--color-hover);
  color: var(--color-high-light);
}
td:active {
  white-space:initial; 
}

td.cal-day:hover span {
  color: var(--color-hover-1);
}

td.cal-day p {
  font-size: 16px;
  margin: 0;
  pointer-events: none;
}
td.cal-day span {
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  position: absolute;
  color: var(--color-primary);
  font-weight: 900;
  pointer-events: none;
  /* background-color: var(--color-primary); */
  /* border-radius: 50%; */
}

tr.cal-week{
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  opacity: 0.8;
}
tr.cal-week td{
  cursor: default;
  border: none;
}
.is-today{
  background-color: var(--color-hover);
}

td.cal-day.is-today {
  color: var(--color-high-light);
}

.detail-popup{
  background-color: var(--color-bg);
  position: absolute;
  transition: all .2s ease-in-out;
  white-space: nowrap;
  padding: 0 20px;
  box-sizing: border-box;
  animation: detail-popup .2s ease-in-out;
  animation-fill-mode:forwards;
  overflow-x: hidden;
}

@keyframes detail-popup {
  0% {
    width: 0;
    height: 0;
  }
  100%{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
}
.detail-popup-table{
  width: 100%;
}
.close-btn{
  color: var(--color-font);
  margin: 10px 0;
}
