
* {
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  background-color: var(--color-bg);
  user-select: none;
  -webkit-user-select: none;
}

@font-face {
  font-family: 'Zentor';
  src: url('/font/TrickShot.ttf');
}

@font-face {
  font-family: 'Z';
  src: url('/font/Hyrbo-Bold.otf');
}

/*滚动条整体粗细样式*/
::-webkit-scrollbar {
  /*高宽分别对应横竖滚动条的尺寸*/
  width: 8px;
  height: 8px;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  /* 颜色 */
  /* background:#b6b6b6!important; */
  /* 线性渐变背景 */
  background-color: var(--color-primary);
}

/*滚动条轨道*/
::-webkit-scrollbar-track {
  background: var(--color-white) !important;
}

#Popup {
  width: 420px;
  height: 420px;
}

.logo {
  color: white;
  font-family: 'Zentor';
  display: flex;
  align-items: center;
  transform: translateX(12px);
}
.Z-logo{
  font-family: 'Z';
  font-size: 40px!important;
  margin-right: 10px;
  transform: rotate(-45deg) scaleX(1.3);
}
.head{
  height: 72px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

@keyframes fade {
  0% {
    filter: blur(10px) hue-rotate(0deg) ;
  }
  100% {
    filter: blur(14px) hue-rotate(15deg);
  }
}

.edition {
  /* background-color: red; */
  /* color: #ffffff; */
  font-size: 16px;
  font-weight: 400;
  margin-top: 1.25rem;
  z-index: 2;
}
/* .logo-box:hover .logo-bg{
  filter: blur(20px);
} */

.custom-btn{
  width: auto!important;
  height: 30px!important;
  display: flex!important;
  justify-content: center;
  align-items: center;
}
.calendar-box{
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}

.handle{
  display: flex;
}
.handle-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: white;
  padding: 3px;
  border-radius: 4px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.handle-icon:last-child{
  margin-right: 0;
}
.handle-icon:hover{
  background-color: var(--color-sub);
}
.iconfont {
  pointer-events: none;
}
.zentor-info{
  height: 40px;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

